.searchBar {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  flex-grow: 1;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 2px solid rgb(var(--light-accent));
  font-size: 16px;
  outline: none;
  transition: border-bottom 0.3s ease;
}

.searchInput:focus {
  border-bottom: 2px solid rgb(var(--highlight));
}

.searchInput::placeholder {
  color: #bbb;
}
