.studentTableRow {
  position: relative;
  transition: background-color 0.15s ease, color 0.15s ease;
  background-color: white;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
